ul {
    margin-left: 3em;
    list-style: initial;
}
ul li {
    position: relative;
    left: 3em;
}

.button.signup-button {
    width: auto;
}
.required-asterisk {
    color: #ff3860;
}
.select {
    display: block;
    width: 100%;
    border-color: #dbdbdb;
    font-size: 1.25rem;
    color: #878787;
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    padding-bottom: 5px;
}
.hero-foot img.partner-logo {
    height: 50px;
    margin: 0 10px;
}
.hero-foot .tabs li {
    padding: 0.5em 1em;
}
footer.footer-dark .footer-column .level-item .icon {
    color: #ffffff;
    transition: none;
}
@media only screen and (min-width: 1024px) {
    .content-image {
        max-width: 40%;
        float: left;
        margin-right: 2em;
    }
}
@media only screen and (max-width: 1024px) {
    .navbar-brand a.navbar-item {
        max-width: 80%;
    }
    .navbar.is-fresh .navbar-brand img {
        max-height: initial !important;
        height: auto;
    }
    .hero-body {
        padding-top: 4rem;
    }
    .tabs ul {
        margin-left: 0;
    }
    .hero-foot .tabs li {
        padding: 0.5em 0;
        left: 0;
    }
}
@media only screen and (max-width: 767px) {
    .hero-body {
        padding-top: 0;
        padding-bottom: 2rem;
    }
    .tabs ul {
        display: initial;
    }
    .hero-foot .tabs li {
        padding: 1em 0.5em;
        text-align: center;
    }
    .section > .container > .columns > .column > .divider {
        width: auto;
    }
    .container > .columns > .column.is-7.mt-60 {
        margin-top: 0 !important;
    }
    .container > .columns > .column > .media {
        display: initial;
    }
    .container > .columns > .column > .media .media-content {
        margin: -25px 0 !important;
        border-bottom: 1px solid #eee;
        padding-bottom: 25px;
    }
    .container > .columns > .column > .media:last-child .media-content {
        border-bottom: 0;
    }
    .content-wrapper {
        padding: 60px 0 0;
    }
    .feature-card {
        width: auto;
        height: auto;
        padding-bottom: 25px;
    }
    .footer-column.is-pulled-right {
        float: initial !important;
    }
}