<section class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Drop us a line or two </h2>
      <h3 class="subtitle is-5 is-muted">We'd love to hear from you</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form method="POST" action="/form-thank-you" name="Contact" netlify>
            <div class="columns is-multiline">
              <div class="column is-6">
                <label>Name:</label> <span class="required-asterisk">*</span>
                <input name="Name" class="input is-medium" type="text" required />
              </div>
              <div class="column is-6">
                <label>E-mail:</label> <span class="required-asterisk">*</span>
                <input name="E-mail" class="input is-medium" type="email" required />
              </div>
              <div class="column is-12">
                <label>Details:</label> <span class="required-asterisk">*</span>
                <textarea name="Details" class="textarea" rows="10" placeholder="Please let us know your questions or concerns" required></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>